body{
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

#menuLugares li a{
    color: #FFFFFF;
    text-decoration: none;
}

#menuLugares li a:hover{
    color: #cccccc;
    text-decoration: none;
}

#header{
    margin-top: 10px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#footer {
    background: #26186F;
    height: 38px;
    z-index: 1;
    margin-top: -20px;
}

#footer div{
    height: 100%;
}

#textFooter{
    color: white;
}

#linksFooter{
    background-color: #26186F;
    padding-right: 0px;
    text-align: center;
    margin-bottom: 0px; 
}

#aFooter{
    color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 767px) {

    /*****************HEADER CSS*********************/
    #header-large{
        display:none;
        margin-right: 0px;
    }

    #header-medium{
        display:none;
        margin-right: 0px;
    }

    #header-small{
        display:block;
        margin-right: 0px;
    }

    #logo{
        width: 75%;
    }

    #header{
        margin-left: 0px;
    }

    #menuRedesSociales{
        list-style: none;
        padding: 0;
        margin: 3% 5% auto;
        width: 100%;
        position: relative;
    }

    #menuRedesSociales li{
        float:left;
        margin-left: 2%;
        position: relative;
    }

    #menuRedesSociales li img{
        width:70%
    }

    #menuLugares{
        clear:both;
        list-style: none;
        padding: 5px 0 5px 0;
        margin: 13px 0 0 -90px;
        background:  #0093DD;
        position: relative;
        text-align: center
    }

    #menuLugares li{
        margin-left: 5%;
        display: inline-block;
    }
    
    #carruselImagen{
        display: none
    }

    /*****************FOOTER CSS*********************/

    #footerLarge{
        display: none;
    }

    #footerMedium{
        display: none;
    }
    
    #footerSmall{
        display: block;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1044px) {

    /*****************HEADER CSS*********************/

    #header{
        position: initial;
    }

    #header-large{
        display:none;
        margin-right: 0px;
    }

    #header-medium{
        display:block;
        margin-right: 0px;
    }

    #header-small{
        display:none;
        margin-right: 0px;
    }

    #menuRedesSociales{
        list-style: none;
        padding: 0px;
        margin: 5% 13% auto;
        width: 89%;
        position: relative;
    }

    #menuRedesSociales li{
        float:left;
        margin-left: 2%;
        position: relative;
    }

    #menuRedesSociales li img{
        width:61%
    }

    #logo{
        width: 100%;
        margin-left: 21%;
    }

    #menuLugares{
        clear: both;
        list-style: none;
        padding: 0.3% 0 0.3% 0;
        margin: 1% 0 0 -8%;
        background: #0093DD;
        position: relative;
        text-align: center;
        width: 108%;
    }

    #menuLugares li{
        margin-left: 5%;
        display: inline-block;
    }

    /*************FOOTER CSS************************/

    #footerLarge{
        display: none;
    }

    #footerMedium{
        display: block;
    }
    
    #footerSmall{
        display: none;
    }

    #footer{
        height: 60px;
    }

    #footer div{
        height: 71%;
    }

    #menuRedesSocialesFooter{
        list-style: none;
        padding: 0;
        margin: 6px 0 0 15%;
        width: 102%;
        text-align: end;
    }

    #menuRedesSocialesFooter li{
        float:left;
        margin-left: 3.1%;
    }

    #menuRedesSocialesFooter li img{
        width:75%
    }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1045px) {

    /*****************HEADER CSS*********************/

    #header-large{
        display:block;
        margin-right: 0px;
    }

    #header-medium{
        display:none;
        margin-right: 0px;
    }

    #header-small{
        display:none;
        margin-right: 0px;
    }

    #menuRedesSociales{
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 68%;
        padding-bottom: 48px;
    }

    #menuRedesSociales li{
        float:left;
        margin-left: 3%;
    }

    #menuRedesSociales li img{
        width:75%
    }

    #logo{
        width: 100%;
        max-width: 465px;
        margin-left: 5%;
    }

    #menuLugares{
        clear: both;
        list-style: none;
        padding: 4px 25px 24px 14px;
        margin-top: 32px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 40px;
        background-color: #0093DD;
    }

    #menuLugares li{
        float:left;
        margin-left: 4.48%;
    }

    /*****************FOOTER CSS*********************/

    #footerLarge{
        display: block;
    }

    #footerMedium{
        display: none;
    }
    
    #footerSmall{
        display: none;
    }

    #menuRedesSocialesFooter{
        list-style: none;
        padding: 0;
        margin: 6px 0 0 0;
        width: 102%;
        text-align: end;
    }

    #menuRedesSocialesFooter li{
        float:left;
        margin-left: 3.1%;
    }

    #menuRedesSocialesFooter li img{
        width:75%
    }

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}