body{
    overflow-x: hidden;
    overflow-y: hidden;
}

#menuLugares li a{
    color: #FFFFFF;
    text-decoration: none;
}

#menuLugares li a:hover{
    color: #cccccc;
    text-decoration: none;
}

#header{
    margin-top: 10px;
    margin-left: 58px;
}

#logo{
    margin-right: 440px;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 767px) {
    #header-large{
        display:none;
    }

    #header-medium{
        display:none;
    }

    #header-small{
        display:block;
    }

    #logo{
        width: 50%;
    }

    #header{
        margin-left: 0px;
    }

    #menuRedesSociales{
        list-style: none;
        padding: 0;
        margin: 3% 5% auto;
        width: 100%;
        position: relative;
    }

    #menuRedesSociales li{
        float:left;
        margin-left: 2%;
        position: relative;
    }

    #menuRedesSociales li img{
        width:70%
    }

    #menuLugares{
        clear:both;
        list-style: none;
        padding: 5px 0 5px 0;
        margin: 13px 0 0 -90px;
        background:  #0093DD;
        position: relative;
        text-align: center
    }

    #menuLugares li{
        margin-left: 5%;
        display: inline-block;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1044px) {
    #header-large{
        display:none;
    }

    #header-medium{
        display:block;
    }

    #header-small{
        display:none;
    }

    #menuRedesSociales{
        list-style: none;
        padding: 0;
        margin: 3% 5% auto;
        width: 100%;
        position: relative;
    }

    #menuRedesSociales li{
        float:left;
        margin-left: 2%;
        position: relative;
    }

    #menuRedesSociales li img{
        width:61%
    }

    #logo{
        width: 100%;
    }

    #menuLugares{
        clear:both;
        list-style: none;
        padding: 5px 0 5px 0;
        margin: 13px 0 0 -101px;
        background:  #0093DD;
        position: relative;
        text-align: center;
        width: 118%;
    }

    #menuLugares li{
        margin-left: 5%;
        display: inline-block;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1045px) {
    #header-large{
        display:block;
    }

    #header-medium{
        display:none;
    }

    #header-small{
        display:none;
    }

    #menuRedesSociales{
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 48px;
    }

    #menuRedesSociales li{
        float:left;
        margin-left: 6%;
    }

    #menuRedesSociales li img{
        width:75%
    }

    #logo{
        width: 100%;
        max-width: 465px;
    }

    #menuLugares{
        clear: both;
        list-style: none;
        padding: 4px 25px 24px 14px;
        margin-top: 32px;
        border-radius: 40px;
        width: 163%;
        background-color: #0093DD;
    }

    #menuLugares li{
        float:left;
        margin-left: 2.5%;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}