@font-face {
    font-family: TwCenMT;
    src: url(../font/TwCenMT.ttf);
}

html, body, a, p, #menu-41 .mbr-brand__name a, a, #menu-41 .mbr-navbar__items a{
    font-family: TwCenMT;
}

#menu-41.mbr-navbar--stuck .mbr-navbar__section {
    background: #0094dc;
}

#features1-42 P {
     text-align: left; 
}